#welcome-screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #87b88c;
    z-index: 1;
    
    opacity: 1;
    transition: visibility 1s linear, opacity 1s linear;

}

#result {
    border-radius: 5px;
    background: #87b88c;
    box-shadow: 0.5px 0.5px 4px #2a58a1;
    display: none;
    text-align: center;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 28vh;
    left: 14vw;
}

#results h1{
    margin-top: 40px;
}

#welcome-screen div {
    display: flex;
    width: 100px;
    justify-content: center;
    margin: 8px;

}

#welcome-screen input {
    margin-right: 14px;
}

label{
    min-width: 70px;

}

body{

    font-family: monospace;
    background: #87b88c;
    color: #e7e8cb;

}

section#grid{
    margin: 30px auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 340px;
    height: 308px;
    background: #3d81e7;
    gap: 5px;
    padding: 5px;
}

/* .wrapper {
    position: relative;
    z-index: 0;
} */

div.cell {
    background: white;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}



div.cell.red {
    background: red;

}

div.cell.yellow {
    background: yellow;
}

header {
    text-align: center;
}

#buttons {
    display: flex;
    margin: 10px;
    justify-content: center;    


}


button {
    background: #48a0c9;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 4px #2a58a1;
    color: #e7e8cb;
    font-size: 14px;
    font-weight: bold;
    font-family: monospace;

    margin: 10px 50px;
    min-width: 100px;
    border: none; 
    padding: 5px;
    min-height: 30px;
}
